.container_song {
  display: flex;
  flex-direction: column;
  margin: 12px 34px;
}

.song {
  display: flex;
  flex-direction: column;
  margin: 12px 0;
  border: 3px solid #ccc;
  background-color: #fff;
  padding: 12px;
  text-align: center;
}

.song h4 {
  font-size: 20px;
  text-decoration: underline;
}

.song p {
  margin: 9px;
}

.song button {
  margin-left: auto;
  padding: 1px;
  width: 23px;
  height: 23px;
  border: none;
  background-color: #fd7373;
  border-radius: 3px;
  box-shadow: 2px 2px 2px #b1b1b1;
}

.fecha, .sin_canciones {
  text-align: center;
  margin: 7px 0;
}

.sin_canciones {
  color: #f85858;
  font-weight: 500;
}