.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 70vh;
}

.form {
  display: flex;
  flex-direction: column;
  width: 75%;
  background-color: #fff;
  padding: 40px 12px;
  border-radius: 20px;
  margin-top: 12px;
  border: 2px solid gray;
}

.form input {
  margin: 2px;
  padding: 5px;
  text-align: center;
}

.form input::placeholder {
  text-align: center;
}

input[type='button'] {
  background-color: antiquewhite;
  border: none;
  margin: 7px 0;
  color: #000;
  font-weight: 700;
  border-radius: 5px;
}